*,
::before,
::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.white-stroke {
  filter: invert(100%) sepia(0%) saturate(7459%) hue-rotate(142deg)
    brightness(116%) contrast(109%);
}
